<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container"  >            

            <h2>Booking Information</h2>

            <table class="table table-striped" style="width:600px;">
                <tr>
                    <th>Room Id</th>
                    <td><b th:text="|${booking.roomId}|">[roomId]</b></td>
                </tr>
                <tr>
                    <th>Booked From</th>
                    <td th:text="${booking.bookedFrom}">[bookedFrom]</td>
                </tr>
                <tr>
                    <th>Booked To</th>
                    <td th:text="${booking.bookedTo}">[bookedTo]</td>
                </tr>
            </table>

            <table th:replace="fragments/footer :: footer" class="footer">
                <tr>
                    <td></td>
                    <td align="right">
                        <img src="../../../resources/images/springsource-logo.png"
                             th:src="@{/resources/images/springsource-logo.png}"
                             alt="Sponsored by SpringSource" />
                    </td>
                </tr>
            </table>

        </div>

    </body>

</html>
