<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Bookings - FUTURE USE</h2>

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
            
<!--            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 80px;">Room ID</th>
                        <th style="width: 100px;">Booked By</th>
                        <th style="width: 150px;">Booked From</th>
                        <th style="width: 150px;">Booked To</th>
                        <th style="width: 100px;">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking : ${bookings}">





                        BJM how to I get to the bookingDetail page from the following hrefs???? 






                        <td>
                            <a href="bookings/bookingDetails.html"
                               th:href="@{|/booking/${booking.roomId}|}"
                               th:text="|${booking.roomId}|"></a>
                        </td>
                        <td th:text="${booking.bookedBy}"></td>
                        <td th:text="${booking.bookedFrom}"></td>
                        <td th:text="${booking.bookedTo}"></td>
                        <td th:text="${booking.description}"></td>
                    </tr>
                </tbody>
            </table>    

            <table th:replace="fragments/footer :: footer" class="footer">
                <tr>
                    <td></td>
                    <td align="right">
                        <img src="../../../resources/images/springsource-logo.png"
                             th:src="@{/resources/images/springsource-logo.png}"
                             alt="Sponsored by SpringSource" />
                    </td>
                </tr>
            </table>-->







        </div>






    </body>

</html>
