<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>


        <div class="container">
            <h2>Rooms</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Room Number</th>
                        <th>Campus</th>
                        <th>Room Type</th>
                        <th>Seats</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="room : ${rooms}">
                        <td th:text="${room.id}"></td>
                        <td th:text="${room.roomNumber}"></td>
                        <td th:text="${room.campus}"></td>
                        <td th:text="${room.roomType}"></td>
                        <td th:text="${room.seats}"></td>
                        <td th:text="${room.description}"></td>
                    </tr>
                </tbody>
            </table>  
            
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>

        </div>
    </body>

</html>
