<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp;Admin</small></h1>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>Database Details</a></li>                            
                            <li><a href="../codes/codeTypes.html" th:href="@{/codes/codeTypes.html}"><i class="icon-th-list"></i>Code Types</a></li>                            
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>