<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            

            <h2>Sensors</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sensor Identifier</th>
                        <th>Id</th>
                        <th>Room Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sensor : ${sensors}">
                        <td>
                            <a href="sensors/sensorDetails.html"
                               th:href="@{|/sensor/${sensor.sensorIdentifier}|}"
                               th:text="|${sensor.sensorIdentifier}|"></a>
                        </td>
                        <td th:text="${sensor.id}"></td>
                        <td th:text="${sensor.roomId}"></td>
                    </tr>
                </tbody>
            </table>    

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>

        </div>










    </body>

</html>
