<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container"  >            

            <h2>Sensor Information</h2>

            <table class="table table-striped" >
                <tr>
                    <th>Id</th>
                    <td><b th:text="|${sensor.id}|">[id]</b></td>
                </tr>
                <tr>
                    <th>Sensor Identifier</th>
                    <td th:text="${sensor.sensorIdentifier}">[sensorIdentifier]</td>
                </tr>
                <tr>
                    <th>Room Id</th>
                    <td th:text="${sensor.roomId}">[roomId]</td>
                </tr>
            </table>

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>

        </div>

    </body>

</html>
