<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            

            <h2>Usage Filter</h2>

<!--            this input is used for listing usages but also for running the report of usages.  If the reportNumber is 
            set in the model, then set the action to report/reportNumber.-->
            
<!--            <form th:object="${usage}" action="usageList.html" th:action="@{/usages.html}" method="get" class="form-horizontal"
                id="usage-filter-form">-->

            <form th:object="${usage}" action="usageList.html" th:action="${reportNumber==1} ? '/roomusage/usages.html': '/roomusage/usages.html'" method="get" class="form-horizontal"
                id="usage-filter-form">




                <fieldset>
                    <table class="table table-striped">
                        <!--                        <tr>
                                                    <th>Room Id</th>
                                                    <td><input type="text"  th:field="*{roomId}"/></td>
                                                </tr>-->
                        <tr><input type="hidden" name="reportNumber" th:value="${reportNumber}"/>
                            <th>Room</th>
                            <td><select class="selectpicker" th:field="*{roomId}" size="1">
                                    <option value="0">All</option>
                                    <option th:each="r : ${rooms}" th:text="${r.roomNumber}" th:value="${r.id}" >[option]</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Used From</th>
                            <td><input  type="text" placeholder="click to show datepicker"  th:field="*{usedFrom}"/></td>
                        </tr>
                        <tr>
                            <th>Used To</th>
                            <td><input  type="text" placeholder="click to show datepicker"   th:field="*{usedTo}"/></td>
                        </tr>
                        <tr>

                            <th>Filter short usages (5minutes or less)</th>
                            <td><div id="fsuf" >
                                    <input type="checkbox"  data-toggle="toggle" th:field="*{filterShortUsagesFlag}" />
                                </div>
                                <!--                                <div id="animated-switch" class="make-switch" data-animated="false">
                                                                    <input type="checkbox" checked="true"/>
                                                                </div>-->
                            </td>
                        </tr>

                    </table>
                                <div style="text-align: left;" class="form-actions">
                                    <button class="btn btn-primary btn-lg" type="submit">Find Usages</button>
                                </div>

                </fieldset>
            </form>

            <!--            <table class="table table-striped">
                            <tr>
                                <th>Room Id</th>
                                <td><input type="text" id="roomNumber"/></td>
                            </tr>
                            <tr>
                                <th>used From</th>
                                <td><input  type="text" placeholder="click to show datepicker"  id="usedFrom"/></td>
                            </tr>
                            <tr>
                                <th>used To</th>
                                <td><input  type="text" placeholder="click to show datepicker"  id="usedTo"/></td>
                            </tr>
                        </table>-->

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>

        </div>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {

                $('#usedFrom').datepicker({
                    format: "yyyy-mm-dd"
                });

                $('#usedTo').datepicker({
                    format: "yyyy-mm-dd"
                });

                $('.selectpicker').selectpicker();
//
//                $('#fsuf').bootstrapSwitch();
//                $('#animated-switch').bootstrapSwitch('setAnimated', true);
            });
        </script>
    </body>

</html>
