<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            

            <h2>Usage Information</h2>

            <table class="table table-striped">
                <tr>
                    <th>Room Id</th>
                    <td><b th:text="|${usage.roomId}|">[roomId]</b></td>
                </tr>
                <tr>
                    <th>used From</th>
                    <td th:text="${usage.usedFrom}">[usedFrom]</td>
                </tr>
                <tr>
                    <th>used To</th>
                    <td th:text="${usage.usedTo}">[usedTo]</td>
                </tr>
            </table>

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>

        </div>

    </body>

</html>
