<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>








        <div class="container">            



            <h2>Usages</h2>

            <table id="theUsages" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Room ID</th>
                        <th>Room Number</th>
                        <th>Used From</th>
                        <th>Used To</th>
                        <th>Length</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usage : ${usages}">
                        <td>
                            <a href="usages/usageDetails.html"
                               th:href="@{|/usage/${usage.roomId}|}"
                               th:text="|${usage.roomId}|"></a>
                        </td>
                        <td th:text="${usage.roomNumber}"></td>
                        <td th:text="${usage.usedFrom}"></td>
                        <td th:text="${usage.usedTo}"></td>
                        <td th:text="${usage.length}"></td>
                    </tr>
                </tbody>                        
            </table>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>

        <script type="text/javascript">
            // For demo to fit into DataTables site builder...
            $(document).ready(function () {
                $('#theUsages').dataTable();
                $('#theUsages')
                        .removeClass('display')
                        .addClass('table table-striped table-bordered');
            });

        </script>
    </body>
</html>