<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" style="text-align: center"><h2>See the Usage</h2></div>
        
        <div class ="container" th:each="roomDayValue : ${reportContent.roomReportContent}">
            <div class="container nospace" >            
                <label>
                    <span th:text="${roomDayValue.name}">...</span>
                </label>
            </div>    

            <div class="container nospace" >
                <div  class="row-fluid">
                    <div class="span1">
                        <!--Sidebar content-->
                    </div>
                    <div class="span11">
                        <img th:src="@{/resources/images/numbers/00.png}"/>
                        <img th:src="@{/resources/images/numbers/01.png}"/>
                        <img th:src="@{/resources/images/numbers/02.png}"/>
                        <img th:src="@{/resources/images/numbers/03.png}"/>
                        <img th:src="@{/resources/images/numbers/04.png}"/>
                        <img th:src="@{/resources/images/numbers/05.png}"/>
                        <img th:src="@{/resources/images/numbers/06.png}"/>
                        <img th:src="@{/resources/images/numbers/07.png}"/>
                        <img th:src="@{/resources/images/numbers/08.png}"/>
                        <img th:src="@{/resources/images/numbers/09.png}"/>
                        <img th:src="@{/resources/images/numbers/10.png}"/>
                        <img th:src="@{/resources/images/numbers/11.png}"/>
                        <img th:src="@{/resources/images/numbers/12.png}"/>
                        <img th:src="@{/resources/images/numbers/13.png}"/>
                        <img th:src="@{/resources/images/numbers/14.png}"/>
                        <img th:src="@{/resources/images/numbers/15.png}"/>
                        <img th:src="@{/resources/images/numbers/16.png}"/>
                        <img th:src="@{/resources/images/numbers/17.png}"/>
                        <img th:src="@{/resources/images/numbers/18.png}"/>
                        <img th:src="@{/resources/images/numbers/19.png}"/>
                        <img th:src="@{/resources/images/numbers/20.png}"/>
                        <img th:src="@{/resources/images/numbers/21.png}"/>
                        <img th:src="@{/resources/images/numbers/22.png}"/>
                        <img th:src="@{/resources/images/numbers/23.png}"/>
                    </div>
                </div>

                <div th:each="dayValue : ${roomDayValue.reportUsageContent}" class="row-fluid">
                    <div class="span1">
                        <label>
                            <span th:text="${dayValue.label}">...</span>
                        </label>
                    </div>
                    <div class="span11">
                        <img th:each="slotValue: ${dayValue.timeSlots}"  src=''  th:src="${slotValue==1} ? '/roomusage/resources/images/used.png': '/roomusage/resources/images/unused.png'"/>
                    </div>
                </div>


            </div>



        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
