<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp;Room Usage</small></h1>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">
                    <li><a href="../other/welcome.html" th:href="@{/}"><i class="icon-home"></i>Home</a></li>

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-camera"></span>&nbsp;Resources
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../usages/input.html" th:href="@{/usages/input.html}"><i class="icon-th-list"></i>Usages</a></li>                            
                            <li><a href="../bookings/bookingList.html" th:href="@{/bookings.html}"><i class="icon-th-list"></i>Bookings</a></li>
                            <li><a href="../sensors/sensorList.html" th:href="@{/sensors.html}"><i class="icon-th-list"></i>Sensors</a></li>
                            <li><a href="../rooms/roomList.html" th:href="@{/rooms.html}"><i class="icon-th-list"></i>Rooms </a></li>
                        </ul>
                    </li>

                    <li class="dropdown" id="menuReports">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuReports">
                            <span class="glyphicon glyphicon-picture"></span>&nbsp;Reports
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../report/reportRoomWeek/1.html" th:href="@{/report/reportRoomWeekInput/1.html}"><i class="icon-th-list"></i>See the Usage</a></li>                            
                            <li><a href="../other/futureUse.html" th:href="@{/other/futureUse.html}"><i class="icon-th-list"></i>Future Report</a></li>
                            <li><a href="../other/futureUse.html" th:href="@{/other/futureUse.html}"><i class="icon-th-list"></i>Future Report</a></li>
                        </ul>
                    </li>


                    <li class="dropdown" id="menu1">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                            <span class="glyphicon glyphicon-align-justify"></span>&nbsp;Upload
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../utility/fileOperations.html" th:href="@{/fileOperations.html}"><i class="icon-upload"></i>File Operations</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="../other/futureUse.html" th:href="@{/other/futureUse.html}"><i class=" icon-cog"></i>Preferences</a></li>
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>